#blogCatArticles {
margin-bottom:15px;
overflow:hidden;
}

#blogCatArticles p,#blogArticle p {
line-height:18px;
margin-bottom:15px;
}

#blogCatArticles p iframe {
width:750px!important;
}

#blogArticle .articleHeader h1,#blogArticle .articleHeader h1 a,#blogCatArticles .articleHeader h3,#blogCatArticles .articleHeader h3 a {
font-size:24px;
font-weight:400;
letter-spacing:.5px;
padding-bottom:7px;
text-decoration:none;
margin:0;
}

#blogArticle .articleHeader h1 a:hover,#blogCatArticles .articleHeader h3 a:hover {
color:#0481CF;
}

#blogCategory {
margin-bottom:25px;
overflow:hidden;
}

.articleCat {
margin-bottom:15px;
padding-bottom:15px;
}

.articleHeader {
margin:10px 0 15px;
}

.articleHeader span,.articleHeader span a {
font-size:11px;
letter-spacing:-.2px;
}

.articleHeader span a:hover {
color:#0481CF;
text-decoration:none;
}

#blogCatArticles .imageFeatured {
background:#FFF;
float:left;
max-width:98%!important;
height:auto!important;
margin:0 10px 10px 0;
padding:4px;
}

.articleContent img {
max-width:100%!important;
height:auto!important;
}

.articleContent .readMore {
margin-top:5px;
text-align:right;
padding:0 10px;
}

.articleContent .readMore span {
margin-left:10px;
}

.articleContent .readMore span a {
font-size:12px;
text-decoration:none;
}

#blogArticle .articleHeader h1,#blogArticle .articleHeader h1 a {
font-size:24px;
font-weight:400;
letter-spacing:.5px;
padding-bottom:3px;
margin:0;
}

.tags-update {
text-align:right;
margin-top:10px;
}

.tags-update .tags {
float:left;
margin-top:0;
}

.updateInfo {
font-size:11px;
display:block;
}

.articleBottom {
margin-top:25px;
overflow:hidden;
}

.articleBottom h4,#blogCategory h4 {
font-size:16px;
clear:both;
letter-spacing:0;
margin:35px 0 10px;
}

.articleBottom ul,#blogCategory ul {
list-style:none;
float:left;
width:40%;
margin:0;
padding:0;
}

.articleBottom li,#blogCategory li {
background:url(../image/arrow.gif) no-repeat 0 7px;
padding:3px 0;
}

#productRelated .box-product {
width:100%;
overflow:hidden;
margin:25px 0 0;
}

#productRelated .relProduct {
width:19%;
background:none;
text-align:center;
margin:0 0 15px;
padding:0;
}

#productRelated .relProduct .image {
position:inherit;
}

#productRelated .relProduct .image img:hover {
opacity:1;
}

#blogArticle .attention img {
margin:0 10px;
}

#articleComments {
border:10px solid #F3F3F3;
clear:left;
margin:30px 0;
padding:25px;
}

#articleComments h4 {
font-size:20px;
letter-spacing:0;
margin:0 0 10px;
}

#articleComments h4 span {
font-size:14px;
font-weight:400;
}

#comments .commentEmpty {
background:#fff;
border:1px solid #d8d8d8;
margin-bottom:10px;
padding:8px 10px;
}

#comments .commentList {
list-style:none;
margin:15px 0 0;
padding:0;
}

.commentList li {
border:1px solid #EFEFEF;
min-height:75px;
margin-bottom:20px;
margin-left:80px;
position:relative;
padding:15px;
}

.childComment li {
border:1px solid #fff;
}

.commentList li .avatar {
background:#fff;
border:0 solid #ddd;
position:absolute;
left:-86px;
top:17px;
border-radius:3px;
padding:2px;
}

.commentList li .badge {
background:#222;
color:#fff;
font-size:10px;
letter-spacing:1px;
margin-right:4px;
text-shadow:1px 1px 0 #333;
cursor:default;
padding:1px 4px;
}

.commentList li .default {
background:#0555C6;
}

.commentList li .top,.commentList li .admin {
background:red;
}

.commentList li .name,.commentList li .name a {
font-size:14px;
text-decoration:none;
cursor:default;
}

.commentList li .name a {
cursor:pointer;
}

.commentList li .created {
font-size:10px;
margin:2px 0 8px;
}

.commentList li .reply {
text-align:right;
height:22px;
margin-top:10px;
}

.commentList li .reply a {
background:#999;
color:#fff;
font-size:11px;
text-decoration:none;
display:inline-block;
padding:3px 10px;
}

.commentList li .reply a:hover {
background:#666;
}

.commentList .even {
background-color:#FAFAFA;
}

.childComment .even {
background:#f8f8f8;
}

.commentList .odd {
background:#FAFAFA;
}

.childComment .odd {
background:#e6e6e6;
}

#comments .pagination {
font-size:11px;
color:#666;
border:none;
padding:0;
}

#comments .pagination .links a,#comments .pagination .links b {
font-size:10px;
padding:2px 5px;
}

#comments .pagination .links a {
background:#fff;
color:#666;
}

#comments .pagination .links b {
background:#0481CF;
color:#fff;
}

#articleComments #commentRespond {
padding:15px 0;
}

#comments #commentRespond {
margin-top:15px;
border-top:1px solid #ccc;
}

#comments #replyTitle {
display:block;
margin-bottom:10px;
}

#commentRespond #cancelCommentReply {
background:#666;
font-size:11px;
float:right;
margin-top:-27px;
text-decoration:none;
color:#fff;
padding:3px 10px;
}

#commentRespond #cancelCommentReply:hover {
background:#333;
}

#commentRespond table {
width:100%;
}

#commentRespond input[type=text],#commentRespond textarea {
background:#fff;
padding:5px 4px;
}

#commentRespond input[disabled] {
background:none;
border:none;
}

#commentRespond input[type=text] {
width:200px;
}

#commentRespond .captcha input[type=text] {
width:85px;
}

#commentRespond textarea {
width:95%;
display:block;
}

#commentRespond td {
padding:3px 5px;
}

#commentRespond .note {
font-size:10px;
display:block;
margin:0 8px;
}

#commentRespond td:first-child {
width:125px;
vertical-align:top;
padding-top:6px;
}

#commentRespond td.captcha {
padding-top:0;
}

#commentRespond td.captcha span {
float:right;
min-width:120px;
}

#commentRespond td.captcha span.captchaImage {
padding-top:9px;
margin-right:25px;
}

#commentRespond .error {
font-size:11px;
color:#d00;
display:inline-block;
margin:0 8px;
}

#commentRespond .right {
text-align:right;
padding:15px 25px 10px;
}

.blogSearch {
overflow:hidden;
margin:15px 0;
}

.blogSearch .title {
font-size:14px;
}

.blogSearch .info,.blogSearch .readmore {
color:#888;
font-style:italic;
font-size:11px;
}

.blogSearch .plain {
padding-left:20px;
margin-bottom:15px;
}

.blogSearch .plain li {
padding-left:15px;
background:url(../image/arrow.gif) no-repeat 0 6px;
}

.blogSearch .plain .info {
margin-left:15px;
}

.blogSearch .compact li {
width:47%;
height:120px;
float:left;
padding:0 1.5%;
}

.blogSearch .compact div {
margin-left:110px;
}

.blogSearch .grid > div {
display:inline-block;
vertical-align:top;
margin-bottom:25px;
}

.blogSearch .grid img {
display:block;
margin:0 auto 8px;
}

.blogSearch .grid .info {
display:block;
font-size:10px;
}

#tab-related-article li {
width:31%;
float:left;
min-height:160px;
overflow:hidden;
padding:0 1%;
}

#tab-related-article .blogTitle {
font-size:14px;
display:block;
}

#tab-related-article .blogImage {
float:left;
margin-right:10px;
}

#tab-related-article .info {
color:#888;
font-style:italic;
font-size:11px;
margin-right:8px;
}

.blockClear:after {
visibility:hidden;
display:block;
font-size:0;
content:" ";
clear:both;
height:0;
}

#blogCatArticles.imageBlock .imageFeatured {
display:block;
float:none;
margin:0 auto 15px;
}

.blogCol2 .articleCat {
float:left;
width:46%;
margin:0;
padding:1% 2%;
}

.blogCol3 .articleCat {
float:left;
width:31%;
padding:.5% 1%;
}

.blogCol4 .articleCat {
float:left;
width:23%;
margin:0;
padding:.5% 1%;
}

.blogCol4 .articleHeader {
margin:8px 0;
}

.blogCol4 .articleHeader h3,.blogCol4 .articleHeader h3 a {
font-size:20px!important;
}

.blogCol4 .articleHeader span {
display:none;
visibility:hidden;
}

.imageContent {
background:#f4f4f4;
border:1px solid #e4e4e4;
margin:0 10px 10px 0;
padding:4px;
}

.articleBottom #productRelated .box-product > div {
width:32%!important;
}

#content-blog {
float:left;
margin-left:20px;
margin-bottom:20px;
padding:15px 20px;
}

#lrc + #content-blog {
width:660px;
}

.articleHeader span a,.articleContent .readMore span a:hover,.commentList li .name a:hover,.blogSearch a,.blogSearch a:hover,#tab-related-article a,#tab-related-article a:hover {
text-decoration:none;
}

.articleContent,#blogArticle,.articleBottom > div,#articleComments #comments,#commentRespond td.captcha div,#tab-related-article {
overflow:hidden;
}

#blogCatArticles .articleContent span ol,#blogCatArticles .articleContent span ul,.blogSearch .compact img {
float:left;
}

.replyComment .even,.replyComment .odd {
background-color:#FFF;
}

#commentRespond h4,.blogSearch .compact .title {
font-size:18px;
}

#comments #commentTitle,#commentRespond #replyTitle {
display:none;
}

.blogSearch ul,#tab-related-article ul {
line-height:20px;
list-style:none;
margin:0;
padding:0;
}

.blogSearch img,#tab-related-article img {
background:#f8f8f8;
border:1px solid #e8e8e8;
padding:3px;
}

.blogSearch p,#tab-related-article p {
margin:0;
}

.blogSearch .compact .info,.blogCol2 .imageFeaturedLink,.blogCol3 .imageFeaturedLink,.blogCol4 .imageFeaturedLink {
display:block;
}

.commentList li .avatar {
display:none;
}

.commentList li {
margin-left:0;
}

#commentRespond input[type=text] {
width:80%;
}

#commentRespond td:first-child {
width:20%;
}
}